body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 20px;
    background-color: rgb(227, 196, 175);
}
  
  h1 {
    color: black;
}
  
  h2 {
    color: black;
}
  
.container {
    background-color: white;
    max-width: 700px;
    margin: 0 auto;
    padding-left: 5px;
    padding-right: 5px;
    border: solid #F38630 5px;
    border-radius: 10px;
    color: black;
}
  
.section {
    margin-bottom: 5px;
    background-color: #F38630;
    border-radius: 10px;
    padding-left: 5px;
    padding-right: 5px;
    padding-bottom: 5px;
}
  
.section h2 {
    margin-bottom: 0px;
    color: black;
    padding-left: 5px;
    padding-top: 3px;

}
  
.section p {
    margin: 1px;
    color: black;
}
  
.section ul {
    margin: 0;
    padding-left: 25px;
    padding-right: 25px;
    padding-bottom: 5px;
    
}
  
.section ul li {
    margin-bottom: 5px;

}

.izq {
    float: left top;
    width: 29.3%;
    padding-bottom: 1px;
    padding-top: 5px;
    padding-left: 5px;

    background-color: #F38630;
    margin-top: 5px;
}

.der {
    float: right;
    width: 65%;
    background-color: #F38630;
    padding-left: 5px;
    border-radius: 10px;
    margin-top: 10px;
    margin-right: 10px;

}